.input-bar-container {
  display: flex;
  align-items: center;
  width: 40vw;
  margin-bottom: 25px;
  cursor: pointer;
}

.input-bar-input {
  flex: 3;
  height: 50px;
background-color: #392c43;
  color: #fff;
  font-size: 24px;
  border-radius: 12px;
  padding-inline: 10px;
  padding-block: 0;
  border: none;
  margin-right: 10px;
  transition: all .3s ease-in-out;
}
.input-bar-input:hover {
  background: #534360;
}

.input-bar-button {
  cursor: pointer;
  flex: 1;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  opacity: 3.4;
  background-color: #5f436d;
  border:none;
}
